# M1L5 Pandas Part 2 Data Challenge:  EDA

## Scenario

We'll be working with a real-world dataset from the NYC Open Data portal, focusing on the leading causes of death in New York City (same as data challenge 4). This dataset provides valuable insights into public health trends and disparities. Understanding this data is crucial for community advocacy and policy-making.

For more information about the data (which is highly recommended) here is the [Link to the Data](https://data.cityofnewyork.us/Health/New-York-City-Leading-Causes-of-Death/jb7j-dtam/about_data)

## Objectives 
- Group and Aggregate Data
- Create a contingency table with `crosstab()`
- Check for duplicated data (remember not all duplicated data needs to be dropped)

**Let's get started!**

### Step 1:  Import Pandas & Numpy

In [5]:
# Import Pandas & Numpy
import pandas as pd
import numpy as np

### Step 2: Load the dataset (csv file stored in the data folder) into a Pandas DataFrame. The file is called:  `nyc_causeofdeath.csv`

In [6]:
df = pd.read_csv("New_York_City_Leading_Causes_of_Death_20250605.csv")

### Step 3: Check the information of the data (column names, data types, size, etc.)

In [7]:
df
df.dtypes
df.shape
df.keys()
df.head()

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,11,.,.
1,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,70,.,.
2,2007,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,213,25,33
3,2007,Atherosclerosis (I70),F,Other Race/ Ethnicity,.,.,.
4,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,1852,176.5,148.4

### Step 4:  We need to change Deaths from an object to an integer so that we can do some MATH (you will learn this officially later) for now just run the cell below.

In [8]:
#Run this cell without changes 
df['Deaths'] = df['Deaths'].replace('.', np.nan)
df['Deaths'] = pd.to_numeric(df['Deaths'])

### Step 5:  Create code to get the sum of deaths by Sex -- what Sex has the most deaths based on this data (add a comment in the cell with your answer)

In [9]:
deaths_by_sex = df.groupby("Sex")['Deaths'].sum()
deaths_by_sex
# Female has the most deaths

Sex
F    217071.0
M    207927.0
Name: Deaths, dtype: float64

### Step 6:  Now create a contingency table (using `crosstab()`) of the Leading Cause of Death by Sex -- put a comment in the cell of a takeaway from the output

In [10]:
cause_by_sex = pd.crosstab(df['Sex'],df['Leading Cause'])
cause_by_sex

#The alzheimer disease is causes death for majoritary to female

Leading Cause,"Accidents Except Drug Posioning (V01-X39, X43, X45-X59, Y85-Y86)",All Other Causes,Alzheimer's Disease (G30),Aortic Aneurysm and Dissection (I71),"Assault (Homicide: Y87.1, X85-Y09)",Atherosclerosis (I70),Cerebrovascular Disease (Stroke: I60-I69),Certain Conditions originating in the Perinatal Period (P00-P96),"Chronic Liver Disease and Cirrhosis (K70, K73)",Chronic Lower Respiratory Diseases (J40-J47),...,Insitu or Benign / Uncertain Neoplasms (D00-D48),"Intentional Self-Harm (Suicide: X60-X84, Y87.0)",Malignant Neoplasms (Cancer: C00-C97),"Mental and Behavioral Disorders due to Accidental Poisoning and Other Psychoactive Substance Use (F11-F16, F18-F19, X40-X42, X44)",Mental and Behavioral Disorders due to Use of Alcohol (F10),"Nephritis, Nephrotic Syndrome and Nephrisis (N00-N07, N17-N19, N25-N27)",Parkinson's Disease (G20),Septicemia (A40-A41),Tuberculosis (A16-A19),Viral Hepatitis (B15-B19)
Sex,,,,,,,,,,,,,,,,,,,,,
F,35,48,31,2,3,3,48,13,8,45,...,5,12,48,12,0,14,1,11,1,2
M,45,48,1,1,17,0,42,13,21,43,...,0,26,48,27,2,3,0,2,0,3

### Step 7:  Are there any duplicate records in this dataset?  Code it below and add a comment with your answer

In [11]:
duplicated = df.duplicated().sum()
duplicated
#no duplicated values

np.int64(0)

## Above and Beyond (AAB)  -- OPTIONAL

### Question 1:  What year had the most deaths?

In [ ]:
df.head()
year_grouped = df.groupby("Year")["Deaths"].sum().sort_values
year_grouped
max_deaths= year_grouped.max()
#print(year_grouped.loc[year_grouped==max_deaths])

#option 2 
year_grouped_max_death = year_grouped[year_grouped == max_deaths]
year_grouped_max_death

Year
2008    54138.0
Name: Deaths, dtype: float64

### Question 2:  Change the 'Death Rate' column to a float.  Why would you want to do this?

In [ ]:
#df['Death Rate']= pd.to_numeric(df['Death Rate'])

ValueError: Unable to parse string "." at position 0