# M1L6 Data Challenge:  Missing Data

## Scenario

You are continuing your analysis of the "New York City Leading Causes of Death" dataset.  You've noticed that the Deaths and Death Rate columns contain some missing values, represented by periods ('.').  Missing data is a common issue in real-world datasets, and it's crucial to handle it appropriately to avoid biased or inaccurate conclusions.


For more information about the data (which is highly recommended) here is the [Link to the Data](https://data.cityofnewyork.us/Health/New-York-City-Leading-Causes-of-Death/jb7j-dtam/about_data)

## Objectives 

- Create missing value indicator columns.
- Identify the extent of missing data in the Deaths and Death Rate columns.
- Impute these missing values using appropriate strategies.



**Let's get started!**

### Step 1:  Import Pandas & Numpy

In [1]:
# Import Pandas 
import pandas as pd
import numpy as np

### Step 2: Load the dataset (csv file stored in the data folder) into a Pandas DataFrame. 

The file is called:  `nyc_causeofdeath.csv`

In [2]:
df = pd.read_csv("New_York_City_Leading_Causes_of_Death_20250605.csv") #,na_values=['.', 'NA', 'N/A', '-',''])
pd.set_option("display.precision", 2)
pd.set_option("display.max_rows", 500)
pd.set_option("display.max_columns", 500)
df

,Year,Leading Cause,Sex,Race Ethnicity,Deaths,Death Rate,Age Adjusted Death Rate
0,2007,Diabetes Mellitus (E10-E14),M,Other Race/ Ethnicity,11,.,.
1,2010,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",F,Not Stated/Unknown,70,.,.
2,2007,Cerebrovascular Disease (Stroke: I60-I69),M,Black Non-Hispanic,213,25,33
3,2007,Atherosclerosis (I70),F,Other Race/ Ethnicity,.,.,.
4,2014,Malignant Neoplasms (Cancer: C00-C97),F,Black Non-Hispanic,1852,176.5,148.4
...,...,...,...,...,...,...,...
1089,2013,All Other Causes,M,White Non-Hispanic,2293,170.3,143.3
1090,2009,"Diseases of Heart (I00-I09, I11, I13, I20-I51)",M,Not Stated/Unknown,94,.,.
1091,2008,Human Immunodeficiency Virus Disease (HIV: B20...,M,Not Stated/Unknown,9,.,.
1092,2010,Chronic Lower Respiratory Diseases (J40-J47),M,Hispanic,149,13,23.9
1093,2013,"Nephritis, Nephrotic Syndrome and Nephrisis (N...",F,Black Non-Hispanic,93,8.9,7.6

### Step 3: Count up the number of missing values in 2 columns

a.  Use value_counts() to determine the number of missing values (represented by '.') in the `Deaths` and `Death Rate` columns.  Print the value counts for each column.  Be sure to set dropna=False as an argument within value_counts()

b.  Add a comment for the number of missig values (aka periods '.') are in each column

In [3]:

#Comment 1:  
missing_deaths = df[["Deaths"]].value_counts(dropna=False)
print(missing_deaths)
#Comment 2: 
missing_Drates = df["Death Rate"].value_counts(dropna=False)
print(missing_Drates)

Deaths
.         138
5          28
8          22
6          21
10         15
7          15
14         11
11         11
9          10
18          8
36          7
17          7
29          6
43          6
13          6
39          6
50          6
12          6
15          6
191         6
25          6
70          6
56          5
227         5
33          5
60          5
27          5
22          5
204         5
30          5
83          5
71          5
271         4
199         4
48          4
46          4
220         4
76          4
42          4
79          4
26          4
90          4
107         4
34          4
32          4
222         4
221         4
154         4
200         4
55          4
51          4
19          4
63          4
258         4
156         4
53          4
186         4
24          4
16          3
245         3
28          3
155         3
143         3
142         3
145         3
285         3
286         3
279         3
169         3
238         3
147         3
148         3
272         3
149         3
86          3
89          3
151         3
158         3
152         3
228         3
267         3
66          3
163         3
102         3
205         3
61          3
68          3
58          3
189         3
184         3
96          3
73          3
74          3
196         3
123         3
1230        3
47          3
95          3
94          3
41          3
78          3
218         3
177         3
187         3
132         3
31          3
38          3
209         3
206         3
35          3
21          3
235         2
215         2
240         2
193         2
192         2
231         2
229         2
92          2
207         2
219         2
214         2
277         2
242         2
246         2
395         2
398         2
40          2
402         2
410         2
437         2
49          2
75          2
502         2
52          2
54          2
554         2
72          2
57          2
622         2
384         2
37          2
80          2
64          2
88          2
265         2
266         2
87          2
274         2
276         2
281         2
318         2
84          2
290         2
292         2
295         2
297         2
308         2
188         2
99          2
170         2
162         2
137         2
115         2
164         2
108         2
165         2
116         2
178         2
111         2
134         2
106         2
166         2
180         2
126         2
153         2
135         2
103         2
113         2
172         2
1557        2
1146        2
182         2
168         2
183         2
469         1
124         1
472         1
4719        1
122         1
478         1
473         1
1868        1
1216        1
510         1
528         1
526         1
521         1
1195        1
518         1
5168        1
515         1
1199        1
467         1
507         1
506         1
120         1
5016        1
501         1
1201        1
1207        1
496         1
456         1
466         1
418         1
4156        1
414         1
1263        1
1268        1
409         1
4085        1
1281        1
129         1
3990        1
399         1
1305        1
1307        1
394         1
390         1
131         1
416         1
1261        1
462         1
4220        1
461         1
1246        1
458         1
4535        1
452         1
451         1
4507        1
45          1
4495        1
448         1
444         1
1251        1
428         1
427         1
424         1
529         1
550         1
1193        1
109         1
82          1
1069        1
1080        1
1082        1
775         1
1085        1
1097        1
6836        1
1109        1
112         1
707         1
7050        1
1125        1
1126        1
820         1
1067        1
1057        1
105         1
1046        1
885         1
1045        1
104         1
91          1
1025        1
93          1
1013        1
101         1
1007        1
969         1
98          1
988         1
696         1
67          1
530         1
5503        1
1163        1
5632        1
563         1
1167        1
555         1
118         1
1316        1
1135        1
1180        1
546         1
540         1
119         1
5351        1
531         1
576         1
59          1
1154        1
1149        1
614         1
618         1
62          1
621         1
629         1
6297        1
1144        1
633         1
114         1
646         1
65          1
657         1
659         1
388         1
1327        1
382         1
380         1
233         1
2316        1
2293        1
1680        1
2282        1
1684        1
2275        1
2269        1
225         1
2243        1
223         1
1706        1
171         1
173         1
2194        1
167         1
2365        1
237         1
1563        1
2578        1
255         1
254         1
2535        1
253         1
252         1
249         1
243         1
248         1
159         1
1590        1
1592        1
2445        1
2444        1
1735        1
174         1
2165        1
195         1
201         1
20          1
1800        1
197         1
1818        1
1958        1
1940        1
202         1
194         1
1824        1
1918        1
1912        1
190         1
1840        1
2015        1
2034        1
216         1
210         1
1749        1
2140        1
175         1
213         1
2121        1
211         1
1756        1
179         1
176         1
208         1
2077        1
1768        1
2068        1
1784        1
259         1
2595        1
1540        1
3346        1
1337        1
339         1
3371        1
3366        1
3361        1
3356        1
333         1
3408        1
329         1
327         1
3256        1
3236        1
3222        1
320         1
340         1
3438        1
3187        1
1852        1
1320        1
379         1
377         1
372         1
371         1
1326        1
358         1
344         1
356         1
352         1
3518        1
1330        1
347         1
345         1
1341        1
3184        1
261         1
2725        1
278         1
146         1
1464        1
275         1
1473        1
273         1
2722        1
144         1
1483        1
150         1
1523        1
1532        1
1536        1
263         1
1445        1
1418        1
1348        1
300         1
3153        1
3142        1
314         1
3132        1
1349        1
307         1
1354        1
140         1
299         1
136         1
1375        1
138         1
1382        1
139         1
247         1
Name: count, dtype: int64
Death Rate
.        386
13         7
17.3       7
11.4       6
16.3       6
18         6
5.8        6
6.7        6
16.9       5
16.1       5
18.3       5
8.3        5
15.8       5
14.5       5
12.8       5
18.5       4
8.8        4
4.8        4
12.7       4
17.8       4
17.2       4
6.2        4
25.9       4
18.1       4
14.1       4
23.4       4
21.7       4
15.9       4
11         4
5.2        4
26.1       4
13.8       4
13.6       4
21.5       4
11.6       4
7.5        4
6          4
14         4
12.9       4
3.7        3
19.9       3
16         3
10         3
8.9        3
15.2       3
20.3       3
2.5        3
11.9       3
20.6       3
16.5       3
4.2        3
6.8        3
12.3       3
10.4       3
10.6       3
19.7       3
20.1       3
19.5       3
101        3
8          3
5.6        3
7.4        3
9.6        3
11.7       3
16.7       3
17.5       3
10.2       3
11.3       3
36         3
10.5       3
9.2        3
15.6       3
12.6       2
20         2
4.4        2
4.9        2
32.9       2
7.3        2
4.3        2
23.6       2
13.2       2
7.2        2
13.3       2
12.4       2
14.6       2
16.6       2
9.3        2
7          2
35         2
36.3       2
13.5       2
31.2       2
4.7        2
97.1       2
17.9       2
16.4       2
19.3       2
13.4       2
4.5        2
15.3       2
13.7       2
31.9       2
28.9       2
95         2
12.1       2
30         2
5.1        2
16.8       2
2.8        2
8.2        2
11.2       2
9.9        2
5          2
15.1       2
36.6       2
226.8      2
24.7       2
217.7      2
12.2       2
15         2
5.3        2
8.6        2
32.5       2
21.4       2
45.9       2
19.2       2
10.8       2
9.7        2
17.7       2
28         2
20.7       2
3.3        2
9.8        2
4.6        2
15.7       2
26.8       2
172.6      1
12.5       1
91.8       1
156.3      1
162.3      1
100.1      1
27.5       1
182.7      1
10.7       1
3.1        1
6.5        1
72.5       1
83.7       1
33.3       1
90.8       1
182.9      1
109.1      1
17.1       1
92.1       1
33.7       1
35.3       1
234.5      1
37.9       1
21.3       1
149.1      1
96.4       1
9.1        1
185.5      1
316.4      1
136.5      1
12         1
146.4      1
80.2       1
99.1       1
14.9       1
171        1
42.3       1
99.2       1
108.1      1
44.2       1
61.6       1
36.7       1
26.7       1
17.4       1
39.6       1
96         1
27.3       1
240.5      1
438.3      1
149.7      1
172.3      1
241.6      1
421        1
168.6      1
41.3       1
92.9       1
89.6       1
209.1      1
15.5       1
14.3       1
39.2       1
141.9      1
335.1      1
250.9      1
18.7       1
105.1      1
27.1       1
238        1
20.9       1
237.7      1
165.7      1
96.7       1
319        1
5.9        1
26.3       1
26.4       1
118.5      1
3.2        1
226.4      1
92.5       1
26.9       1
109.6      1
135.9      1
297.1      1
54.2       1
28.5       1
14.8       1
40.1       1
34         1
8.4        1
83         1
31.3       1
36.8       1
7.9        1
108.5      1
167.6      1
6.1        1
22.7       1
146.7      1
186.4      1
30.4       1
3.8        1
20.5       1
10.1       1
95.8       1
172.9      1
104.2      1
107.1      1
8.7        1
410        1
107.3      1
11.1       1
85.6       1
17.6       1
29.3       1
172.4      1
117.2      1
140.7      1
5.5        1
96.5       1
354.1      1
37.4       1
18.4       1
242.1      1
8.5        1
79.1       1
26.5       1
124.6      1
23         1
156.7      1
114.2      1
73.9       1
43.7       1
120.3      1
254.1      1
74.9       1
144.5      1
53.3       1
38.7       1
318        1
40.3       1
11.5       1
88.5       1
7.7        1
45.8       1
29.7       1
72.8       1
19.6       1
41.9       1
258.6      1
102.5      1
27.6       1
250.4      1
81.6       1
384.2      1
45.7       1
40.2       1
90.6       1
121.7      1
64.7       1
32.8       1
217.1      1
21.1       1
91.1       1
88.6       1
476.2      1
374.2      1
43.3       1
170.8      1
39.3       1
48.7       1
48.4       1
222.5      1
78.9       1
36.1       1
71.3       1
5.4        1
116.8      1
248.9      1
18.2       1
123.1      1
9.5        1
39.7       1
83.1       1
143.2      1
21         1
16.2       1
154.3      1
97.7       1
10.3       1
59.2       1
245.2      1
82.7       1
130.7      1
102.1      1
159.3      1
70.1       1
151.6      1
115.1      1
112.7      1
176.5      1
303.5      1
85.9       1
39.4       1
43.8       1
102.6      1
110        1
2.7        1
491.4      1
68.8       1
9.4        1
25.5       1
64.6       1
56         1
183.2      1
70.2       1
3.5        1
20.2       1
8.1        1
181.9      1
86.7       1
135.1      1
15.4       1
14.2       1
232.9      1
28.3       1
102        1
21.8       1
85.5       1
35.7       1
260.1      1
24.3       1
121        1
240.4      1
23.7       1
24         1
43.1       1
77.8       1
121.5      1
25         1
310.3      1
40.6       1
169.4      1
39.1       1
224.2      1
104.1      1
182.5      1
86.8       1
21.2       1
20.4       1
21.6       1
70.5       1
14.7       1
215.7      1
118.9      1
22.2       1
214.3      1
177.5      1
25.8       1
49.1       1
122.3      1
180.9      1
26.2       1
49.4       1
2.4        1
178.7      1
3.6        1
332.7      1
234        1
33.6       1
183.4      1
114.5      1
110.7      1
126.5      1
22.3       1
73.6       1
3          1
64.3       1
236.7      1
244.6      1
73.8       1
29.5       1
243.5      1
76.7       1
19.1       1
25.3       1
28.2       1
89.5       1
34.9       1
23.8       1
232.7      1
22.8       1
47.8       1
13.1       1
24.4       1
5.7        1
6.6        1
117.1      1
7.8        1
229.6      1
104.7      1
19         1
6.9        1
91.6       1
35.1       1
170.3      1
Name: count, dtype: int64

### Step 4:  Replace periods with NaN (not a number) and convert to numeric 

- a. Replace the '.' values in the `Deaths` and `Death Rate` columns with `np.nan`.
- b. Convert the `Deaths` and `Death Rate` columns to numeric.

This may take several lines of code

In [4]:
df['Deaths']=df['Deaths'].replace('.', np.nan)
df['Deaths']=pd.to_numeric(df['Deaths'])
df['Death Rate']=df['Death Rate'].replace('.', np.nan)
df['Death Rate']=pd.to_numeric(df['Death Rate'])

### Step 5:  Check the data's info again 

Run a `.info()` to see if the columns have missing data in them -- they should!

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     1094 non-null   int64
 1   Leading Cause            1094 non-null   object
 2   Sex                      1094 non-null   object
 3   Race Ethnicity           1094 non-null   object
 4   Deaths                   956 non-null    float64
 5   Death Rate               708 non-null    float64
 6   Age Adjusted Death Rate  1094 non-null   object
dtypes: float64(2), int64(1), object(4)
memory usage: 60.0+ KB

## Step 6:  Create a missing inidcator (run the code below without changes)

-  This column will have a 1 if the row is missing a value in a respective column and 0 if it is not 

-  Add a comment about what the np.where() function is (feel free to use documentation)

In [6]:
#Run this cell without changes 

df['Deaths_missing'] = np.where(df['Deaths'].isna(), 1, 0)
df['Death_Rate_missing'] = np.where(df['Death Rate'].isna(), 1, 0)

### Step 7:  Calculate the median for each column

In [ ]:
df.head(200)
median_Death = df['Deaths'].median()
median_Death_Rate = df['Death Rate'].median()

### Step 8:  Use the median to fill in each column's missing values (aka impute)

Hint:  Use `fillna()` with the median values you created above.

In [16]:
df['Deaths']=df['Deaths'].fillna(median_Death)
df["Death Rate"]= df['Death Rate'].fillna(median_Death_Rate)

In [22]:
#Check the info to see if imputation worked 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1094 entries, 0 to 1093
Data columns (total 9 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Year                     1094 non-null   int64
 1   Leading Cause            1094 non-null   object
 2   Sex                      1094 non-null   object
 3   Race Ethnicity           1094 non-null   object
 4   Deaths                   1094 non-null   float64
 5   Death Rate               1094 non-null   float64
 6   Age Adjusted Death Rate  1094 non-null   object
 7   Deaths_missing           1094 non-null   int64
 8   Death_Rate_missing       1094 non-null   int64
dtypes: float64(2), int64(3), object(4)
memory usage: 77.0+ KB

## Above and Beyond (AAB)  -- OPTIONAL

### Question 1:  What year had the most deaths?

In [24]:
df.head()
year_grouped = df.groupby("Year")["Deaths"].sum()
print(year_grouped)
max_deaths= year_grouped.max()
#print(year_grouped.loc[year_grouped==max_deaths])
year_grouped_max_death = year_grouped[year_grouped == max_deaths]
year_grouped_max_death

Year
2007    57857.0
2008    56959.5
2009    56087.0
2010    55772.0
2011    56290.0
2012    54202.0
2013    54278.0
2014    54045.5
Name: Deaths, dtype: float64

Year
2007    57857.0
Name: Deaths, dtype: float64

### Question 2:  Change the 'Death Rate' column to a float.  

Why would you want to do this?  Add a comment answering this question.

In [25]:
df['Death Rate']= pd.to_numeric(df['Death Rate'])